*{
    font-size: 25px;
    color: rgb(239, 234, 234);
}
body{
    margin: 0;
    padding:0;
    }
header, nav, main, aside, footer{
    border:#fff 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    }
header{
    width: 100%;
    height: 120px;
    background: rgb(23, 59, 240);
}
main{
    width: 10%;
    height: 550px;
    background: rgb(39, 70, 163);
    display: inline-block;
    }
aside{
    width: 90%;
    height: 550px;
    background: rgb(99, 96, 96);
}
footer{
    width: 100%;
    height: 180px;
    background: rgb(50, 58, 124);
}